
.navbar{
    height:55px;
    width:100%;
    background-color: coral;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
  }

.card img{
    max-width: 250px;
  }

  
